@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: #7227D5;
  display:flex;
  justify-content: center;
  align-items: center;
}

.card{
  background: #fff;
  width: 900px;
  min-height: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  flex-direction: row;
}

.form,
.image{
  width: 50%;
}

.image{
  background-size:cover;
  background-position: center;
}

.overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(114, 39, 213, 0.31);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  
}

.overlay h3{
  color:white;
  letter-spacing: 1px;
  font-size: 25px;
  font-weight: 700;
  opacity: 0.6;
}
.overlay p{
  color:white;
  font-size: 13px;
  font-weight: bold;
   opacity: 0.6;
}


.form{
  padding: 60px 25px; 
  display: flex;
  flex-direction: column;
}
.form h3{
  font-size: 28px;
  font-weight: 500;
  position: relative;
  margin-bottom: 30px;
}
.form h3::after{
  content: '';
  width:30px;
  height:3px;
  background: #7227D5;
  position: absolute;
  left: 0;
  bottom: 2px;
  border-radius: 5px;
}

.fa{
  color: #7227D5;
  position: absolute;
  top:10px;
  font-size: 18px;
}

.input-field{
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}
.input-field input{
  display: block; 
  width: 100%;
  padding: 10px 30px;
  outline: none;
  border:none;
  border-bottom: 2px solid rgb(182, 180, 180);
  font-size: 15px;
}

.form>a{
  color:#7227D5;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 35px
}

button{
  height: 45px;
  background:#7227D5;
  border:none;
  color:white;
  border-radius: 5px;
  font-size: 18px;
}

button+p{
  text-align: center;
  padding-top: 30px;
  font-size: 14px;
}

button+p a{
  text-decoration: none;
  color:#7227D5;
  font-weight: 500;
}

input::placeholder {
  font-family: 'Poppins', sans-serif;
}

.login-btn {
  cursor: pointer;
}

.no-grey-disabled:disabled {
    background-color: #ffffff; /* Or your desired background color */
    opacity: 1; /* Ensure full opacity */
    cursor: default; /* Change cursor if needed */
}





@keyframes growFont {
    from { font-size: 1rem; }
    to { font-size: 20rem; }
}

.animator {
    animation-name: growFont; /* Defines the @keyframes rule to use */
    animation-duration: .3s; /* Duration of one animation cycle */
    animation-iteration-count: infinite; /* Repeats indefinitely */
    animation-direction: alternate; /* Alternates direction each cycle */
    animation-timing-function: ease-in-out; /* Optional: Controls animation speed curve */
}

.header-contents select {
  height: 45px;
}

.header-contents {
  border-bottom: 3px solid #ccc;
}

input:disabled {
  background: white !important;
}

.alert-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1050;
}

.item-detail-contents input::placeholder, .create-item-modal-content input::placeholder, .create-user-modal-content input::placeholder {
  color: black  ;
}

.confirmation-content {
  font-weight: bold;
  font-size: 20px;
}

.popover-header {
  font-weight: bold;
  font-size: 20px;
}

.btn-circle {
  border-radius: 50%;
}

.actions-menu {
  display: none;
  position: fixed;
  right: 0;
  height: 90%;
  z-index: 500;
  width: 100%;
  background: white;
  text-align: right;
  padding-right: 10px;
  overflow: auto;
}

.actions-menu button {
  border-radius: 48%;
  width: 250px;
}

.header-badge {
  font-size: 150%;
}


[id^="otherFieldsKeyTooltip"] {
  background: #333;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 13px;
  display: none; 
  transform: none !important;
}


[id^="otherFieldsKeyTooltip"][data-show] {
  display: block;
}